[submodule "conformance/vendor/charon"]
	path = conformance/vendor/charon
	url = https://github.com/AeneasVerif/charon.git
[submodule "conformance/vendor/miri"]
	path = conformance/vendor/miri
	url = https://github.com/priyasiddharth/miri.git
	branch = formal-urchin
